#cloud-config
fqdn: {{inventory_hostname}}
growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false
users:
  - name: {{cloud_init_user}}
    ssh-authorized-keys:
      - {{ssh_key}}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo