<?xml version="1.0" encoding="utf-8"?>
<unattend xmlns="urn:schemas-microsoft-com:unattend">
    <settings pass="specialize">
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ComputerName>{{inventory_hostname}}</ComputerName>
            <RegisteredOrganization>{{registered_organization}}</RegisteredOrganization>
            <RegisteredOwner>{{registered_owner}}</RegisteredOwner>
            <TimeZone>{{timezone}}</TimeZone>
            <AutoLogon>
                <Password>
                    <Value>{{ad_pass}}</Value>
                    <PlainText>true</PlainText>
                </Password>
                <Domain>{{ad_domain}}</Domain>
                <Enabled>true</Enabled>
                <LogonCount>1</LogonCount>
                <Username>{{ad_user}}</Username>
            </AutoLogon>
        </component>
        <component language="neutral" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" versionScope="nonSxS" publicKeyToken="31bf3856ad364e35" processorArchitecture="amd64" name="Microsoft-Windows-Deployment">
            <ExtendOSPartition>
                <Extend>true</Extend>
            </ExtendOSPartition>
        </component>
        <component language="neutral" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" versionScope="nonSxS" publicKeyToken="31bf3856ad364e35" processorArchitecture="amd64" name="Microsoft-Windows-UnattendedJoin">
            <Identification>
                <Credentials>
                    <Domain>{{ad_domain}}</Domain>
                    <Password>{{ad_pass}}</Password>
                    <Username>{{ad_user}}</Username>
                </Credentials>
                <JoinDomain>{{ad_domain}}</JoinDomain>
                <MachineObjectOU>{{ad_ou_path}}</MachineObjectOU>
            </Identification>
        </component>
    </settings>
    <settings pass="oobeSystem">
        <component language="neutral" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" versionScope="nonSxS" publicKeyToken="31bf3856ad364e35" processorArchitecture="amd64" name="Microsoft-Windows-International-Core">
            <InputLocale>{{input_local}}</InputLocale>
            <SystemLocale>{{system_local}}</SystemLocale>
            <UILanguage>{{ui_lang}}</UILanguage>
            <UserLocale>{{user_locale}}</UserLocale>
        </component>
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <OOBE>
                <HideEULAPage>true</HideEULAPage>
            </OOBE>
            <UserAccounts>
                <AdministratorPassword>
                    <Value>{{local_admin_pass}}</Value>
                    <PlainText>true</PlainText>
                </AdministratorPassword>
            </UserAccounts>
            <FirstLogonCommands>
                <!-- Need to figure out a way to put the commands in a variable... I think.. so that people can update it from a vars file as well. -->
                <SynchronousCommand wcm:action="add">
                    <CommandLine>C:\WINDOWS\system32\WindowsPowerShell\v1.0\powershell.exe -ExecutionPolicy Bypass -command "\\ad.selkirk.ca\admin\its\ansiblescripts\ConfigureRemotingForAnsible.ps1"</CommandLine>
                    <Description>Configure Ansible Remoting</Description>
                    <Order>1</Order>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <CommandLine>C:\WINDOWS\system32\WindowsPowerShell\v1.0\powershell.exe -command "Restart-Computer -Force"</CommandLine>
                    <Description>reboot computer / order change to just log off</Description>
                    <Order>2</Order>
                </SynchronousCommand>
            </FirstLogonCommands>
        </component>
    </settings>
    <cpi:offlineImage cpi:source="wim:c:/users/mfedec/downloads/install.wim#Windows Server 2016 SERVERSTANDARDCORE" xmlns:cpi="urn:schemas-microsoft-com:cpi" />
</unattend>
